PORT=8080
NODE_ENV=development

AUTH_GRPC_ADDR=localhost:50051

ALLOWED_EMAIL_DOMAINS=ingenieria.usac.edu.gt,ing.usac.edu.gt

SESSION_COOKIE_NAME=yousac_session
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_PATH=/
SESSION_TTL_MS=3600000
